extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Sign Up Page'
  - var bodyClass = 'bg-secondary'

//- Page Content
block content
  .container-fluid.d-flex.h-100.align-items-center.justify-content-center.py-4.py-sm-5
    .card.card-body(style='max-width: 940px')
      a(href='#' onclick='window.history.go(-1); return false;').position-absolute.top-0.end-0.nav-link.fs-sm.py-1.px-2.mt-3.me-3
        i.fi-arrow-long-left.fs-base.me-2
        | Go back
      .row.mx-0.align-items-center
        .col-md-6.border-end-md.p-2.p-sm-5
          h2.h3.mb-4.mb-sm-5 Join Finder.<br>Get premium benefits:
          ul.list-unstyled.mb-4.mb-sm-5
            li.d-flex.mb-2
              i.fi-check-circle.text-primary.mt-1.me-2
              span Add and promote your listings
            li.d-flex.mb-2
              i.fi-check-circle.text-primary.mt-1.me-2
              span Easily manage your wishlist
            li.d-flex.mb-0
              i.fi-check-circle.text-primary.mt-1.me-2
              span Leave reviews
          img(src='img/signin-modal/signup.svg' class='d-block mx-auto' width='344' alt='Illustartion')
          .mt-sm-4.pt-md-3
            | Already have an account? 
            a(href='signin-light.html') Sign in
        .col-md-6.px-2.pt-2.pb-4.px-sm-5.pb-sm-5.pt-md-5
          a(href='#').btn.btn-outline-info.w-100.mb-3
            i.fi-google.fs-lg.me-1
            | Sign in with Google
          a(href='#').btn.btn-outline-info.w-100.mb-3
            i.fi-facebook.fs-lg.me-1
            | Sign in with Facebook
          .d-flex.align-items-center.py-3.mb-3
            hr.w-100
            .px-3 Or
            hr.w-100
          form(novalidate).needs-validation
            .mb-4
              label(for='signup-name').form-label Full name
              input(type='text' id='signup-name' placeholder='Enter your full name' required).form-control
            .mb-4
              label(for='signup-email').form-label Email address
              input(type='email' id='signup-email' placeholder='Enter your email' required).form-control
            .mb-4
              label(for='signup-password').form-label Password <span class='fs-sm text-muted'>min. 8 char</span>
              .password-toggle
                input(type='password' id='signup-password' minlength='8' required).form-control
                label(aria-label='Show/hide password').password-toggle-btn
                  input(type='checkbox').password-toggle-check
                  span.password-toggle-indicator
            .mb-4
              label(for='signup-password-confirm').form-label Confirm password
              .password-toggle
                input(type='password' id='signup-password-confirm' minlength='8' required).form-control
                label(aria-label='Show/hide password').password-toggle-btn
                  input(type='checkbox').password-toggle-check
                  span.password-toggle-indicator
            .form-check.mb-4
              input(type='checkbox' id='agree-to-terms' required).form-check-input
              label(for='agree-to-terms').form-check-label
                | By joining, I agree to the <a href='#'>Terms of use</a> and <a href='#'>Privacy policy</a>
            button(type='submit').btn.btn-primary.btn-lg.w-100 Sign up         
